@model Concurso.App.gestion.Application.DTOs.ProductoDto
@{
    ViewData["Title"] = "Eliminar Producto";
}
<div class="card shadow-sm mt-4">
    <div class="card-header bg-danger text-white">
        <i class="fa fa-trash"></i> Eliminar Producto
    </div>
    <div class="card-body">
        <h5>¿Está seguro que desea eliminar este producto?</h5>
        <dl class="row">
            <dt class="col-sm-3">Nombre</dt>
            <dd class="col-sm-9">@Model.Nombre</dd>
            <dt class="col-sm-3">Descripción</dt>
            <dd class="col-sm-9">@Model.Descripcion</dd>
            <dt class="col-sm-3">Precio</dt>
            <dd class="col-sm-9">@Model.Precio.ToString("C")</dd>
            <dt class="col-sm-3">Stock</dt>
            <dd class="col-sm-9">@Model.Stock</dd>
        </dl>
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Cancelar</a>
                <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
            </div>
        </form>
    </div>
</div>
